.login_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .login-banner_img {
        position: relative;
        display: inline-block;
        text-align: center;
        .banner-img {
            height: 250px;
            aspect-ratio: auto;
        }
        .banner-text{
            font-size: 50px;
            color: $primary;
            text-decoration: solid;
            font-weight: 700;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .title {
        text-decoration: solid;
        font-weight: bold;
        color: $white;
    }
    .login-toogle_form{
        width: 250px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: white;
        font-weight: 700;
        margin-bottom: 2%;
    }
    .login_copy{
        margin-top: 5%;
        font-size: 12px;
        color: #425966;
        & > span {
            color: $white;
        }
    }
    .login_terms{
        color: $primary;
        font-size: 10px;
    }
}