//  Colors
$primary: #f4f96d;
$secondary: #425966;
$white: #FFFFFF;
$black: #0000;
$gray-ligth: #d9d9d9;
$gray: #7a7f85;
$gray-dark: #7a7f85;
$background: #16202a;
// Media Queries
$breakpoint-mobile: 768px;


