.card_container{
    width: 250px;
    background-color: $gray-ligth;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
    .card_title .card_body {
        color: $gray-dark;
    } 
    .card_title{
        font-size: 25px;
        font-weight: 800;
    }.card_body{
        font-size: 15px;
        margin-bottom: 20px;
    }
    .card_footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &_date{
            font-size: 12px;
            font-style: italic;
            color: $gray;
        }
        &_author{
            font-size: 15px;
            color: black;
            font-weight: bolder;
        }
    }
}