.carrousel_container {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1%;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    padding: 25px 0 5px 0;

}