.navbar_container{
    width: 60%;
    .navbar_list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        font: normal normal normal 56px/76px 'Poppins';
        .navbar_item{
            list-style-type: none;
            font-size: 13px;
            color: $secondary;
            &:hover{
                color: $primary;
                cursor: pointer;
            }
        }
    }
    .navbar_home-icon{
        display: none;
    }
    @media screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
        width: auto;
        .navbar_list{
            display: none;
        }
        .navbar_home-icon{
            display: block;
        }
    }
    @media screen and (max-width: $breakpoint-mobile) {
        width: auto;
        .navbar_list{
            display: none;
        }
        .navbar_home-icon{
            display: block;
        }
    }
}
